/* --- Table --- */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-container {
  display: flex;
  width: 100vw;
  align-content: center;
  justify-content: center;
}
table {
  display: block;
  height: 75vh;
  overflow-y: scroll;
  margin: 0;
}
thead {
  position: sticky;
  top: 0;
  background-color: white;
}
tbody {
  line-height: 0.5;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(144 211 218 / 39%);
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.pag-button {
  display: flex;
}
